<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <% if @featured_post %>
        <h2><%= @featured_post.name %>
        <p><%= @featured_post.summary %></p>
        <%= link_to post_path(@featured_post), class:"nice small blue button" do %>
        Read More &raquo;
        <% end %>
        <% end %>
      </div>
    </div>    
  </div>
</div>

<div class="posts container">
  <div class="row">
    <div class="nine columns">
      <% @posts.each do |post| %>
      <div class="row">
        <div class="twelve columns">
          <h4><%= link_to post.name, post %></h4>
          <span class="published-at"><%= post.created_at.strftime("%B %d, %Y") %></span>
          <p><%= post.summary %> <%= link_to "more...", post %></p>
          <hr />
        </div>
      </div>
      <% end %>
    </div>
    <div class="three columns">
      <h4><%= link_to "Archives", archives_path %></h4>
      <h4>Tags</h4>
      <p>
        <% @tags.each do |tag| %>
        <%= link_to tag, tagged_posts_path(tag) %>
        <% end %>
      </p>
    </div>
  </div>
</div>