<div class="container">
  <%= form_for [:admin, @post], html:{class:"nice"} do |f| %>
  <div class="row">
    <div class="eight columns">
      <%= f.label :name %>
      <%= f.text_field :name, class:"input-text full" %>
      
      <%= f.label :summary %>
      <%= f.text_field :summary, class:"input-text full" %>
      
      <div id="editor"></div>
      <%= f.text_area :body, style:"display:none" %>
      <button type="submit" class="nice small blue button">
        <% if @post.new_record? %>
        Create Post
        <% else %>
        Update Post
        <% end %>
      </button>
      <% unless @post.new_record? %>
      <%= link_to "View Post", post_path(@post), class:"nice small white button" %>
      <% end %>
    </div>
    <div class="four columns">
      <h4>Publish At</h4>
      <%= f.datetime_select :publish_at %>
      <h4>Draft</h4>
      <label><%= f.check_box :draft %> Draft</label>
      <h4>Notes</h4>
      <%= f.text_area :notes, class:"input-text" %>
      <h4>Tags</h4>
      <%= f.text_field :tags, class:"input-text" %>
      <h4>Image Attachments</h4>
      
    </div>
  </div>
  <% end %>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag "admin" %>
<script type="text/javascript">
window.onload = function(){
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/textmate");
  editor.getSession().setTabSize(2);
  editor.getSession().setUseSoftTabs(true);
  var HtmlMode = require("ace/mode/html").Mode;
  editor.getSession().setMode(new HtmlMode());
  editor.getSession().setUseWrapMode(true);
  <% unless @post.new_record? %>
  editor.getSession().setValue("<%= escape_javascript(@post.body.html_safe) %>");
  <% end %>
  $('form').on('submit', function(event){
    $('#post_body').val(editor.getValue());
  });
  
  <% if Rails.env.development? %>
  window.editor = editor;
  <% end %>
};
</script>
<% end %>